table.flights, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}
html, body, #map {
	height: 100%;
	width: 100%;
}
html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
.tooltip { position:absolute;
	width: 145px;
	padding: 5px;
	border: 1px solid gray;
	font-size: 9pt;
	font-family: Verdana;
	background-color: #fff;
	color: #000;
}
#price-form {
	text-align: center;
}
input {
    text-align: left;
    padding: 5px;
}
#search-bar {
    top: 40%;
    margin: auto;
    align-content: center;
    background-color: #00000094;
    border-radius: 15px;
    width: 40%;
    height: 10%;
    position: relative;
}
.overlay {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
}
.shaded {
	background-color: #00000054;
}
