table.flights, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 15px;
}
html, body, #map {
	height: 100%;
	width: 100%;
}
html, body, #map-canvas {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
#overlay {
    position: fixed;
    display: none;
    width: 50%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: 1;
    cursor: pointer;
}

h1 {
	font-family: 'Lobster';
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
#price-form {
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
input {
    text-align: left;
    padding: 6px;
    border-radius: 5px;
    border: 0px;
    vertical-align: middle;
    display: inline-block;
}
#search-bar {
    top: 40%;
    margin: auto;
    align-content: center;
    background-color: #00000094;
    border-radius: 15px;
    width: 40%;
    height: 10%;
    position: relative;
    z-index: 2;
}
.overlay {
	width: 100%;
    height: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
}
.shaded {
	background-color: #00000054;
}
